.container {
    display: flex;
}

.profile {
    flex: 1;
    padding: 20px;
}

.chat {
    flex: 2;
    padding: 20px;
}

input[type="text"],
button {
    margin-bottom: 10px;
    display: block;
}

#photo-input {
    display: none;
}
