/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Chat container styles */
.chat-container {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px;
    background-color: #fff;
}

/* Chat box styles */
#chat-box {
    height: 300px;
    overflow-y: scroll;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

/* Message input container styles */
.input-container {
    display: flex;
}

/* Message input styles */
#message-input {
    flex: 1;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* Send button styles */
button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 16px;
}

/* Send button hover styles */
button:hover {
    background-color: #45a049;
}

/* Timestamp styles */
.timestamp {
    font-size: 0.8em;
    color: #888;
}

/* Own message styles */
.own-message {
    background-color: #e5f7ff;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: auto;
}

/* Slideshow container styles */
.slideshow-container {
    max-width: 800px;
    margin: 20px auto;
    position: relative;
}

/* Slides styles */
.mySlides {
    display: none;
}

/* Previous and Next buttons styles */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Position the Previous button to the left */
.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* Position the Next button to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Previous and Next button hover styles */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
